.Button {
  min-width: 100px;
  font: var(--font);
  color: #111413;
  border: none;
  background-color: var(--background-color-light);
  padding: 10px 20px;
  border-radius: var(--component-border-radius);
}

.Button:hover {
  background-color: var(--background-hover-color-light);
}
