<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="dist/app.css">
  </head>
  <body>
    <script>var settings = JSON.parse('{{ .settings }}')</script>
    <script src="dist/app.js"></script>
  </body>
</html>
