<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="dist/app.css">
  </head>
  <body>
    <div id="root"></div>
    <script>
      var settings = JSON.parse('{{ .settings }}');
      var ip = '{{ .ip }}';
    </script>
    <script src="dist/app.js"></script>
  </body>
</html>
