:root {
  --group-spacing: 1.5rem;
  --font: 1.2rem helvetica, sans-serif;

  --background-color: #242722;
  --background-color-dark: #111413;
  --hover-color: #2F332C;
  --text-color: #E9F4FE;

  --component-border-radius: 3px;
}

* {
  /*lost-utility: edit;*/
}

html, body, #root, #container {
  height: 100%;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font: var(--font);
}

.Page {
  width: calc(100% - var(--menu-width));
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
}

.Page-Heading {
  margin: 0;
}

.Page-Section {
  margin-top: 25px;
}
