* {
  lost-utility: edit;
}

html, body {
  height: 100%;
  margin: 0;
}

.Menu {
  width: 20%;
  height: 100%;
  float: left;
}

.MenuHeading {
  margin: 0;
}

.MenuItemList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.MenuItemLink {
  padding: 1rem;
  display: block;
  text-decoration: none;
  color: #000000;
}

.Page {
  height: 100%;
}

.PageHeading {
  margin: 0;
}
