.TextBox-wrapper {
  display: inline-block;
  margin-right: 10px;
}

.TextBox-label {
  display: block;
}

.TextBox {
  width: 100%;
  min-width: 600px;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  font: var(--font);
  color: var(--text-color-light);
  background-color: var(--background-color-dark);
  border: 1px solid #000000;
  border-radius: var(--component-border-radius);
}

.TextBox:focus {
  border: 1px solid var(--background-color-light);
  box-shadow: 0px 0px 5px var(--background-hover-color-light);
}
