.Select-label {
  display: block;
}

.Select {
  border: 1px solid #000000;
  margin: 5px 0 10px;
  padding: 10px;
  border-radius: var(--component-border-radius);
  background-color: var(--background-color-dark);
  color: var(--text-color-light);
  font: var(--font);
}
