.TextBox-Container {
  display: inline-block;
  margin-right: 10px;
}

.TextBox-Label {
  display: block;
}

.TextBox {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  font: var(--font);
  color: var(--text-color);
  background-color: var(--background-color-dark);
  border: 1px solid var(--background-color-dark);
  border-radius: var(--component-border-radius);
}

.TextBox:focus {
  border: 1px solid var(--background-color-light);
}
